@inherits ProgramComponentBase

<ResizeableView ResizeableOption="new ResizeableOption() { Left=40, Top=17, Width=640, Height=540, Z_Index=this.ProgramEntity.Z_Index }">
    <div class="modal-dialog m-0 flex-fill shadow" role="dialog" style="max-width:none;height:100%;">
        <div class="modal-content border-danger overflow-hidden" style="height: 100%;">
            <DraggableHandle DragTarget=".position-fixed">
                <div class="modal-header border-0 py-2">
                    <h5 class="modal-title" id="exampleModalLabel">设置</h5>
                    <button type="button" class="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </DraggableHandle>
            <div class="modal-body text-center p-0">
                <div class="d-flex h-100">
                    <div class="d-inline-block d-flex bg-light align-items-center">
                        <div class="nav d-flex border-right border-secondary flex-column text-right" style="width:200px;">
                            <a class="nav-link active">Hack System</a>
                            <a class="nav-link">网络</a>
                            <a class="nav-link">显示</a>
                            <a class="nav-link">程序</a>
                            <a class="nav-link">账户</a>
                            <a class="nav-link">关于</a>
                        </div>
                    </div>
                    <div class="d-inline-block w-100 h-100 p-5">
                        <i class="fas fa-cog fa-10x text-secondary my-3"></i>
                        <p class="display-4 text-secondary">Settings</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ResizeableView>