@inherits LayoutComponentBase
@inject ILogger<DesktopLayout> logger

<div id="DesktopLayoutInstance"
     class="container-fluid p-0 position-absolute overflow-hidden"
     style="height: 100%; width: 100%; background-image: url(images/Wallpapers/DesktopBackground.jpg); background-size: cover; background-position-y: center; background-position-x: center;">
    @Body
</div>
