@inherits MenuItemComponentBase

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-submenu="">@this.MenuItem.Title</a>
    <div class="dropdown-menu">
        @if (this.MenuItem.SubMenuItems != null)
        {
            foreach (var subMenuItem in this.MenuItem.SubMenuItems)
            {
                if (subMenuItem.SubMenuItems != null)
                {
                    <MenuItemSubMenuComponent MenuItem="subMenuItem"></MenuItemSubMenuComponent>
                }
                else
                {
                    switch (subMenuItem.MenuType)
                    {
                        case MenuItem.MenuTypes.Button:
                            {
                                <MenuItemButtonComponent MenuItem="subMenuItem"></MenuItemButtonComponent>
                                break;
                            }
                        case MenuItem.MenuTypes.CheckBox:
                            {
                                <MenuItemCheckBoxComponent MenuItem="subMenuItem"></MenuItemCheckBoxComponent>
                                break;
                            }
                        case MenuItem.MenuTypes.Radio:
                            {
                                <MenuItemRadioComponent MenuItem="subMenuItem"></MenuItemRadioComponent>
                                break;
                            }
                        case MenuItem.MenuTypes.Divider:
                            {
                                <MenuItemDividerComponent MenuItem="subMenuItem"></MenuItemDividerComponent>
                                break;
                            }
                        default: break;
                    }
                }
            }
        }

        @*
            <a class="dropdown-item" role="button">一级菜单项-1</a>

            <div class="dropdown dropright dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" role="button" data-toggle="dropdown">一级菜单项-2</a>

                <div class="dropdown-menu">
                    <a class="dropdown-item" role="button">二级菜单项-1</a>
                    <div class="dropdown dropright dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle" role="button">二级菜单项-2</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" role="button">三级菜单项-1</a>
                            <a class="dropdown-item" role="button">三级菜单项-2</a>
                        </div>
                    </div>
                </div>
            </div>
        *@

    </div>
</li>