@inject IJSRuntime jsRuntime
@inject ILogger<ProgramDockComponent> logger
@inject IIntermediaryRequestSender intermediaryRequestSender

@if (this.UserProgramMaps.Count > 0)
{
    <div class="border-bottom border-white px-5 rounded-pill shadow" style="pointer-events: auto; backdrop-filter: blur(10px);">
        <div class="d-flex justify-content-center user-select-none">
            @foreach (var programMap in this.UserProgramMaps.Values)
            {
                <ProgramDockIconComponent @key="@programMap.Program.Id" UserProgramMap="programMap" OnIconClick="@this.OnClickIcon" />
            }
        </div>
    </div>
}

@code {
    protected Dictionary<string, UserProgramMap> UserProgramMaps { get; set; } = new();
}
