@if (this.BasicProgramMaps.Count > 0)
{
    <div class="border-bottom border-white px-5 rounded-pill shadow" style="pointer-events: auto; backdrop-filter: blur(10px);">
        <div class="d-flex justify-content-center user-select-none">
            @foreach (var programMap in this.BasicProgramMaps.Values)
            {
                <ProgramDockIconComponent @key="@programMap.BasicProgram.Id" UserBasicProgramMap="programMap" />
            }
        </div>
    </div>
}

@code{
    protected Dictionary<string, QueryUserBasicProgramMapDTO> BasicProgramMaps { get; set; } = new Dictionary<string, QueryUserBasicProgramMapDTO>();
}
