@inherits ProgramComponentBase

<div class="text-center p-5">
    <p class="fas fa-user-astronaut text-primary fa-10x my-3"></p>
    <p class="display-4 text-warning">Profile</p>
</div>

@code {
    public override void Dispose()
    {
    }

    public static Type Launch() => typeof(ProfileComponent);
}
