@inject IJSRuntime jsRuntime

<nav class="navbar navbar-expand p-0 navbar-dark">
    <div class="navbar-brand p-0 ml-2">
        @* TODO: Leon: 这里优先显示激活程序的图标和名称 *@
        <img class="img-fluid" src="/LogoImageSmall.png" />
        <span>Hack System</span>
    </div>

    @DesktopMenuView?.ChildContent
</nav>

@code{
    [CascadingParameter]
    private Func<IToastContainer> GetToastContainer { get; set; }

    [CascadingParameter(Name = "DesktopMenuView")]
    protected ProgramMenuView DesktopMenuView { get; set; }
}