<div class="d-flex flex-column flex-wrap align-content-start user-select-none w-100 h-100 overflow-hidden">
    @foreach (var programMap in this.BasicProgramMaps.Values)
    {
        <ProgramDrawerIconComponent @key="@programMap.BasicProgram.Id" Name="@(string.IsNullOrWhiteSpace(programMap.Rename)?programMap.BasicProgram.Name:programMap.Rename)" IconUrl="@programMap.BasicProgram.IconUrl" />
    }
</div>

@code{
    protected Dictionary<string, QueryUserBasicProgramMapDTO> BasicProgramMaps { get; set; } = new Dictionary<string, QueryUserBasicProgramMapDTO>();
}
