@inject IJSRuntime jsRuntime
@inject ILogger<ProgramDrawerComponent> logger
@inject IIntermediaryRequestSender intermediaryRequestSender

<div class="d-flex flex-column flex-wrap align-content-start user-select-none w-100 h-100 overflow-hidden">
    @foreach (var programMap in this.UserProgramMaps.Values)
    {
        <ProgramDrawerIconComponent @key="@programMap.Program.Id" UserProgramMap="programMap" OnIconDoubleClick="this.OnDoubleClickIcon" />
    }
</div>

@code {
    protected Dictionary<string, UserProgramMap> UserProgramMaps { get; set; } = new ();
}
