@inject IJSRuntime jsRuntime
@inject ILogger<ProgramDrawerComponent> logger
@inject IProgramLauncher programLauncher

<div class="d-flex flex-column flex-wrap align-content-start user-select-none w-100 h-100 overflow-hidden">
	@foreach (var pair in this.BasicProgramMaps)
	{
		<ProgramDrawerIconComponent @key="@pair.Key" UserBasicProgramMap="pair.Value" OnIconDoubleClick="this.OnDoubleClickIcon" />
	}
</div>

@code {
	protected Dictionary<string, UserBasicProgramMapDTO> BasicProgramMaps { get; set; } = new Dictionary<string, UserBasicProgramMapDTO>();
}
