@inject ILogger<ToastContainerComponent> logger
@inject IJSRuntime jsRuntime
@inject IIntermediaryEventHandler<ToastEvent> toastEventHandler

<div class="p-3" style="overflow-y:scroll;height:100%; width:405px;">
    <CascadingValue IsFixed=true Value=this.toastModuleReference>
        <CascadingValue IsFixed=true Value=this.toastContainerReference>
            @foreach (var toast in this.Toasts.Values.OrderBy(detail => detail.CreateTime).ThenByDescending(detail => detail.Icon))
            {
                var toastKey = $"toastKey_{toast.Id}";
                <ToastComponent @key=@toastKey ToastDetail="toast" />
            }
        </CascadingValue>
    </CascadingValue>
</div>

@code {
    private readonly Dictionary<string, ToastDetail> Toasts = new Dictionary<string, ToastDetail>();
}
