@inherits ProgramComponentBase

<div class="bg-secondary text-center p-0">
	<h1 class="text-warning">Modal Window</h1>
	<img src="LogoImage.png" class="img-fluid" />
</div>

@code {
	public override void Dispose()
	{
	}
}
 