@page "/Login"

@inject ILogger<LoginComponent> logger
@inject IAuthenticationService authenticationService
@inject IHackSystemAuthenticationStateHandler authenticationStateHandler
@inject NavigationManager navigationManager

<div class="row container-fluid p-0 position-fixed img-fluid" style="width:100%;height:100%;
        background-image:url(images/LoginBackground.jpg);background-size:cover;background-position-x:center;">
    <div class="card col-12 col-lg-8 col-xl-6 d-flex mx-auto mt-auto mb-5 fixed-bottom w-75 shadow-lg">
        <div class="card-body">
            <h5 class="card-title">登录</h5>

            @if (ShowErrors)
            {
                @* 不要使用 Bootstrap 自带的关闭警告窗功能，因为自带功能将会销毁元素，而Blazor自动销毁时将找不到被销毁的元素 *@
                <div class="alert alert-warning fade show" role="alert">
                    <strong>登录失败！</strong> @Error
                    <button type="button" class="close" aria-label="Close" @onclick="OnCloseAlert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }

            <EditForm Model="loginDto" OnValidSubmit="OnLogin">
                <DataAnnotationsValidator />
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="username">用户名称</label>
                        <InputText Id="userName" Class="form-control" @bind-Value="loginDto.UserName" />
                        <ValidationMessage class="valid-feedback" For="@(() => loginDto.UserName)" />
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="password">密码</label>
                        <InputText Id="password" type="password" Class="form-control" @bind-Value="loginDto.Password" />
                        <ValidationMessage class="valid-feedback" For="@(() => loginDto.Password)" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12 col-md-6 offset-md-6">
                        <button type="submit" class="btn btn-block btn-primary">登录</button>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    private bool ShowErrors { get; set; }
    private string Error { get; set; }
    private readonly LoginDTO loginDto = new LoginDTO();

    public void OnCloseAlert() => ShowErrors = false;
}
