@inherits ProgramComponentBase

<div class="p-0">
    <iframe class="border-0 w-100 h-100 embed-responsive-item" src="https://blazor.net">
    </iframe>
</div>

@code {
    public override void Dispose()
    {
    }

    public static Type Launch() => typeof(BorwserComponent);
}
