@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error</h1>
<h2 class="text-danger">Error when process request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Develop Mode</h3>
<p>
    <strong>Develop</strong> environment will show more detail for debugging.
</p>
<p>
    <strong>Do not user Develop Mode when deploy.</strong>
    Edit <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable as <strong>Development</strong> to turn on Develop mode.
</p>
