@page "/Desktop"
@layout DesktopLayout
@attribute [Authorize(Roles = CommonSense.Roles.HackerRole)]

@inject ILogger<DesktopComponent> logger
@inject IBasicProgramService basicProgramService

<button class="btn btn-warning" @onclick="OnTest">测试按钮</button>

@foreach (var programMap in this.BasicProgramMaps ?? Enumerable.Empty<QueryUserBasicProgramMapDTO>())
{
    @programMap.BasicProgram.Name
}

<ProgramDockComponent />

@code {
    [CascadingParameter]
    private Func<IToastContainer> GetToastContainer { get; set; }

    protected IEnumerable<QueryUserBasicProgramMapDTO> BasicProgramMaps { get; set; }
}
