@page "/Desktop"
@layout DesktopLayout
@attribute [Authorize(Roles = CommonSense.Roles.HackerRole)]

@inject ILogger<DesktopComponent> logger
@inject IOptionsMonitor<APIConfiguration> apiConfiguration
@inject IBasicProgramService basicProgramService

<button class="btn btn-warning" @onclick="OnTest">测试按钮</button>

<div class="position-fixed w-100 m-0" style="top:0px;bottom:0px;overflow:hidden;">
    <ProgramDrawerComponent @ref="@ProgramDrawerComponent" />

    <div class="rounded-lg border border-white position-fixed" style="top:3rem; right:3rem; pointer-events:none; backdrop-filter:blur(10px);">
        <p class="display-1 text-white p-3 mb-0">信息面板</p>
    </div>
</div>



<div class="d-none d-md-flex justify-content-center fixed-bottom mb-1 mb-md-3" style="pointer-events:none;">
    <ProgramDockComponent @ref="@ProgramDockComponent" />
</div>

@code {
    [CascadingParameter]
    private Func<IToastContainer> GetToastContainer { get; set; }

    protected Dictionary<string, QueryUserBasicProgramMapDTO> BasicProgramMaps { get; set; } = new Dictionary<string, QueryUserBasicProgramMapDTO>();

    protected ProgramDockComponent ProgramDockComponent { get; set; }
    protected ProgramDrawerComponent ProgramDrawerComponent { get; set; }
}
