@page "/Desktop"
@layout DesktopLayout
@attribute [Authorize(Roles = CommonSense.Roles.HackerRole)]

@inject ILogger<DesktopComponent> logger
@inject IOptionsMonitor<APIConfiguration> apiConfiguration
@inject IBasicProgramService basicProgramService

<button class="btn btn-warning" @onclick="OnTest">测试按钮</button>

<div class="position-fixed row w-100 m-0 px-5 py-3" style="top:50px;bottom:160px;overflow-y:visible;">
        <div class="col-12 col-md-4 m-0 p-1 order-first order-md-last" style="overflow:hidden;">
            <div class="rounded-lg bg-light" style="height:100%;overflow-y:hidden;">
                <p class="display-1 mb-0">信息面板</p>
            </div>
        </div>

        <div class="col-12 col-md-8 m-0 p-3" style="height:100%; overflow-y:hidden;">
            <ProgramDrawerComponent @ref="@ProgramDrawerComponent" />
        </div>
</div>



<div class="d-none d-md-flex justify-content-center fixed-bottom mb-1 mb-md-3" style="pointer-events:none;">
    <ProgramDockComponent @ref="@ProgramDockComponent" />
</div>

@code {
    [CascadingParameter]
    private Func<IToastContainer> GetToastContainer { get; set; }

    protected Dictionary<string, QueryUserBasicProgramMapDTO> BasicProgramMaps { get; set; } = new Dictionary<string, QueryUserBasicProgramMapDTO>();

    protected ProgramDockComponent ProgramDockComponent { get; set; }
    protected ProgramDrawerComponent ProgramDrawerComponent { get; set; }
}
