@inject IJSRuntime jsRuntime

<ul class="navbar-nav text-nowrap">
    <li class="nav-item active">
        <a role="button" class="nav-link">主页</a>
    </li>
    <li class="nav-item dropdown">
        <a role="button" class="nav-link dropdown-toggle" data-toggle="dropdown" data-submenu>文件</a>
        <div class="dropdown-menu">
            <a role="button" class="dropdown-item">新文件</a>
            <a role="button" class="dropdown-item">打开文件</a>
            <a role="button" class="dropdown-item">保存文件</a>
            <div class="dropdown-divider"></div>
            <div class="dropdown dropright dropdown-submenu">
                <a role="button" class="dropdown-item dropdown-toggle">最近的文件</a>
                <div class="dropdown-menu">
                    <div class="dropdown-item">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="RecentFilesGroup" checked id="recentFile1Radio">
                            <label class="custom-control-label" for="recentFile1Radio">最近的文件_1</label>
                        </div>
                    </div>
                    <div class="dropdown-item">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="RecentFilesGroup" checked id="recentFile2Radio">
                            <label class="custom-control-label" for="recentFile2Radio">最近的文件_2</label>
                        </div>
                    </div>
                    <div class="dropdown-item">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="RecentFilesGroup" id="recentFile3Radio">
                            <label class="custom-control-label" for="recentFile3Radio">最近的文件_3</label>
                        </div>
                    </div>
                    <div class="dropdown-item">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="RecentFilesGroup" id="recentFile4Radio">
                            <label class="custom-control-label" for="recentFile4Radio">最近的文件_4</label>
                        </div>
                    </div>
                    <div class="dropdown-item">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="RecentFilesGroup" disabled id="recentFile5Radio">
                            <label class="custom-control-label" for="recentFile5Radio">最近的文件_5</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dropdown-divider"></div>
            <a role="button" class="dropdown-item">关闭文件</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a role="button" class="nav-link dropdown-toggle" data-toggle="dropdown" data-submenu>编辑</a>
        <div class="dropdown-menu">
            <a role="button" class="dropdown-item">剪切</a>
            <a role="button" class="dropdown-item">复制</a>
            <a role="button" class="dropdown-item">粘贴</a>
            <a role="button" class="dropdown-item">删除</a>
            <div class="dropdown-divider"></div>
            <div class="dropdown dropright dropdown-submenu">
                <a role="button" class="dropdown-item dropdown-toggle">选择</a>
                <div class="dropdown-menu">
                    <a role="button" class="dropdown-item">全选</a>
                    <a role="button" class="dropdown-item">全不选</a>
                    <a role="button" class="dropdown-item">反选</a>
                </div>
            </div>
            <div class="dropdown-divider"></div>
            <a role="button" class="dropdown-item">查找</a>
            <a role="button" class="dropdown-item">替换</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a role="button" class="nav-link dropdown-toggle" data-toggle="dropdown" data-submenu>视图</a>
        <div class="dropdown-menu">
            <div class="dropdown-item">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" checked id="topBarCheck">
                    <label class="custom-control-label" for="topBarCheck">顶部栏</label>
                </div>
            </div>
            <div class="dropdown-item">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="menuBarCheck">
                    <label class="custom-control-label" for="menuBarCheck">菜单栏</label>
                </div>
            </div>
            <div class="dropdown-item">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="statusBarCheck">
                    <label class="custom-control-label" for="statusBarCheck">状态栏</label>
                </div>
            </div>
            <div class="dropdown-divider"></div>
            <div class="dropdown-item">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" disabled checked id="programDockCheck">
                    <label class="custom-control-label" for="programDockCheck">程序坞</label>
                </div>
            </div>
        </div>
    </li>
    <li class="nav-item d-none">
        <a role="button" class="nav-link">已隐藏</a>
    </li>
    <li class="nav-item">
        <a role="button" class="nav-link disabled">已禁用</a>
    </li>
    <li class="nav-item active">
        <a role="button" class="nav-link text-warning">测试</a>
    </li>
    <li class="nav-item">
        <div class="custom-control custom-checkbox nav-link pl-4">
            <input type="checkbox" class="custom-control-input" id="desktopCheckBox_1">
            <label class="custom-control-label" for="desktopCheckBox_1">复选-1</label>
        </div>
    </li>
    <li class="nav-item">
        <div class="custom-control custom-checkbox nav-link pl-4">
            <input type="checkbox" class="custom-control-input" checked id="desktopCheckBox_2">
            <label class="custom-control-label" for="desktopCheckBox_2">复选-2</label>
        </div>
    </li>
    <li class="nav-item">
        <div class="custom-control custom-checkbox nav-link pl-4">
            <input type="checkbox" class="custom-control-input" disabled id="desktopCheckBox_3">
            <label class="custom-control-label" for="desktopCheckBox_3">复选-3</label>
        </div>
    </li>
    <li class="nav-item">
        <div class="custom-control custom-radio nav-link pl-4">
            <input type="radio" class="custom-control-input" name="DesktopRadioGroup" id="desktopRadio_1">
            <label class="custom-control-label" for="desktopRadio_1">单选-1</label>
        </div>
    </li>
    <li class="nav-item">
        <div class="custom-control custom-radio nav-link pl-4">
            <input type="radio" class="custom-control-input" checked name="DesktopRadioGroup" id="desktopRadio_2">
            <label class="custom-control-label" for="desktopRadio_2">单选-2</label>
        </div>
    </li>
    <li class="nav-item">
        <div class="custom-control custom-radio nav-link pl-4">
            <input type="radio" class="custom-control-input" disabled name="DesktopRadioGroup" id="desktopRadio_3">
            <label class="custom-control-label" for="desktopRadio_3">单选-3</label>
        </div>
    </li>
</ul>