@page "/Desktop"
@layout DesktopLayout
@attribute [Authorize(Roles = CommonSense.Roles.HackerRole)]

@inject ILogger<DesktopComponent> logger
@inject IOptionsMonitor<APIConfiguration> apiConfiguration
@inject IBasicProgramService basicProgramService

<div class="fixed-top">
    <CascadingValue IsFixed="false" Name="DesktopTopBarView" Value=@this.TopBarView>
        <TopBarComponent />
    </CascadingValue>
</div>

<TopBarView @ref="TopBarView">
    <ProgramMenuView>
        <DesktopMenuComponent OnTest="this.OnTest"></DesktopMenuComponent>
    </ProgramMenuView>
    <ProgramStatusView>
        <DesktopStatusComponent></DesktopStatusComponent>
    </ProgramStatusView>
</TopBarView>

<div class="w-100 h-100" style="padding-top:30px; overflow:hidden;pointer-events:none;">
    <ProgramDrawerComponent @ref="@ProgramDrawerComponent" />

    <InfoPanelContainerComponent></InfoPanelContainerComponent>
</div>

<ProgramContainerComponent></ProgramContainerComponent>

<div class="d-none d-md-flex justify-content-center fixed-bottom mb-1 mb-md-3" style="pointer-events:none;">
    <ProgramDockComponent @ref="@ProgramDockComponent" />
</div>

@code {
    [CascadingParameter(Name = "DesktopToastContainer")]
    private Func<IToastContainer> GetDesktopToastContainer { get; set; }

    protected Dictionary<string, QueryUserBasicProgramMapDTO> BasicProgramMaps { get; set; } = new Dictionary<string, QueryUserBasicProgramMapDTO>();

    protected ProgramDockComponent ProgramDockComponent { get; set; }
    protected ProgramDrawerComponent ProgramDrawerComponent { get; set; }
    protected TopBarView TopBarView { get; set; }
}
