@page "/Desktop"
@layout DesktopLayout
@attribute [Authorize(Roles = CommonSense.Roles.HackerRole)]

@inject ILogger<DesktopComponent> logger
@inject IMapper mapper
@inject IToastHandler toastHandler
@inject IProgramDetailService programDetailService
@inject IHackSystemAuthenticationTokenRefresher authenticationTokenRefresher

<div id="DesktopInstance" class="w-100 h-100">
    <TopBarView @ref="TopBarView">
        <ProgramMenuView>
            <DesktopMenuComponent OnTest="this.OnTest"></DesktopMenuComponent>
        </ProgramMenuView>
        <ProgramStatusView>
            <DesktopStatusComponent></DesktopStatusComponent>
        </ProgramStatusView>
    </TopBarView>

    <div id="topBar" class="position-absolute overflow-hidden">
        <CascadingValue IsFixed="false" Name="DesktopTopBarView" Value=@this.TopBarView>
            <TopBarComponent BarHeight=ComponentContract.TopBarHeight />
        </CascadingValue>
    </div>

    <div id="MainDesktopWorkSpace" class="position-absolute overflow-hidden" style="left:0px;top:@(ComponentContract.TopBarHeight)px;width:100%;height:calc(100% - @(ComponentContract.TopBarHeight)px);">
        <div id="programDrawer" class="position-absolute w-100 h-100 overflow-hidden">
            <ProgramDrawerComponent @ref="@ProgramDrawerComponent" />
        </div>

        <div id="infoPanel" class="position-absolute w-100 h-100 overflow-hidden" style="pointer-events:none;">
            <InfoPanelContainerComponent></InfoPanelContainerComponent>
        </div>

        <div id="programDock" class="position-fixed d-none d-md-flex justify-content-center" style="width:inherit;bottom:45px; pointer-events:none;">
            <ProgramDockComponent @ref="@ProgramDockComponent" />
        </div>

        <div id="programContainer" class="position-absolute w-100 h-100 overflow-hidden" style="pointer-events:none;">
            <ProgramContainerComponent></ProgramContainerComponent>
        </div>
    </div>

    <div class="position-fixed overflow-hidden" style="top:@(ComponentContract.TopBarHeight)px; right:0px; width:380px; height:100%; pointer-events: none;z-index:512;">
        <ToastContainerComponent @ref="ToastContainer" />
    </div>
</div>

@code {
    protected Dictionary<string, UserProgramMap> UserProgramMaps { get; set; } = new();
    protected ProgramDockComponent ProgramDockComponent { get; set; }
    protected ProgramDrawerComponent ProgramDrawerComponent { get; set; }
    protected TopBarView TopBarView { get; set; }
    protected ToastContainerComponent ToastContainer { get; set; }
}
