@page "/Desktop"
@attribute [Authorize(Roles = CommonSense.Roles.HackerRole)]
@inject IConfiguration Configuration

<h3>Desktop</h3>
<button>Button</button>

<AuthorizeView Policy=@WebCommonSense.AuthorizationPolicy.LeonPolicy>
    <h4><span class="badge badge-primary">Leon</span></h4>
</AuthorizeView>

<AuthorizeView Policy=@WebCommonSense.AuthorizationPolicy.ProfessionalHackerPolicy>
    <h4><span class="badge badge-danger">Professional</span></h4>
</AuthorizeView>

<AuthorizeView Policy=@WebCommonSense.AuthorizationPolicy.HackerPolicy>
    <h4><span class="badge badge-dark">Hack</span></h4>
</AuthorizeView>

<a class="btn btn-primary" href="/SystemSettings">系统设置</a>
<h1>Configuration example</h1>
<p>Configuration: @Configuration["APIURL"]</p>

@code {
}