@page "/Desktop"
@attribute [Authorize(Roles = CommonSense.Roles.HackerRole)]

@inject ILogger<Desktop> logger;
@inject IJSRuntime jsRuntime;
@inject IOptionsMonitor<APIConfiguration> optionMonitor;
@inject IAuthenticationService authenticationService;
@inject ICookieStorageService cookieStorageService;

<h3>Desktop</h3>
<button class="btn btn-success" @onclick="GetAccountInfo">获取用户信息</button>
<p>@accountInfo</p>

<AuthorizeView Policy=@WebCommonSense.AuthorizationPolicy.LeonPolicy>
    <h4><span class="badge badge-primary">Leon</span></h4>
</AuthorizeView>

<AuthorizeView Policy=@WebCommonSense.AuthorizationPolicy.ProfessionalHackerPolicy>
    <a class="h4" href="/ProfessionalHackerPage"><span class="badge badge-warning">Professional</span></a>
</AuthorizeView>

<AuthorizeView Policy=@WebCommonSense.AuthorizationPolicy.HackerPolicy>
    <h4><span class="badge badge-dark">Hack</span></h4>
</AuthorizeView>

<a class="btn btn-primary" href="/SystemSettings">系统设置</a>
<h1>Configuration example</h1>
<p>Configuration: @optionMonitor.CurrentValue.APIURL</p>

<div class="btn btn-group">
    <button class="btn btn-outline-primary" @onclick="GetAll">获取所有</button>
    <button class="btn btn-outline-primary" @onclick="Save">保存</button>
    <button class="btn btn-outline-primary" @onclick="Remove">移除</button>
    <button class="btn btn-outline-primary" @onclick="Get">获取</button>
</div>

@code {
    string accountInfo = "账户信息";
}