@inject IJSRuntime jsRuntime

<span onmousedown="dragEvents.mouseDragStart(event)" ontouchstart="dragEvents.touchDragStart(event)" data-dragtarget="@this.DragTarget" style="@($"cursor:{this.Cursor??"move"};")">
    @this.ChildContent
</span>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string DragTarget { get; set; } = ".position-fixed";

    [Parameter]
    public string? Cursor { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await this.jsRuntime.InvokeVoidAsync("blazorJSTools.importJavaScript", "./_content/HackSystem.Web.ProgramPlatform/blazor.draggable.js");
    }
}
