<figure class="m-1 rounded position-relative @this.DrawerIconClass"
        @oncontextmenu=@this.OnContextMenu @oncontextmenu:preventDefault
        @ontouchend=this.OnTouchEnd @ondblclick="this.OnDbClick"
        @onmouseover=@(e=>{this.DrawerIconClass="drawer-icon-hover";this.StateHasChanged();})
        @onmousedown=@(e=>{this.DrawerIconClass="drawer-icon-active";this.StateHasChanged();})
        @onmouseup=@(e=>{this.DrawerIconClass="drawer-icon-hover";this.StateHasChanged();})
        @onmouseout=@(e=>{this.DrawerIconClass="drawer-icon";this.StateHasChanged();})>
    <img src="@UserProgramMap.Program.IconUri" class="img-fluid mx-2 mt-2 mb-1" style="width:60px;height:60px;" />
    <figcaption class="text-white small text-center stretched-link">
        <span class="d-block text-truncate p-1" style="width:76px;">@(string.IsNullOrWhiteSpace(UserProgramMap.Rename)? UserProgramMap.Program.Name: UserProgramMap.Rename)</span>
    </figcaption>
</figure>

@code {
    [Parameter]
    public EventCallback<ProgramIconEventArgs> OnIconSelect { get; set; }

    [Parameter]
    public EventCallback<ProgramIconEventArgs> OnIconContextMenu { get; set; }

    [Parameter]
    public UserProgramMap UserProgramMap { get; set; }

    private string DrawerIconClass { get; set; } = "drawer-icon";
}