<div class="m-1 rounded position-relative" tabindex="1" @ontouchend=this.OnTouchEnd @ondblclick="this.OnDbClick" onfocus="drawerEvents.focusIcon(this)" onblur="drawerEvents.blurIcon(this)">
    <figure class="m-0">
        <img src="@UserProgramMap.Program.IconUri" class="img-fluid mx-2 mt-2 mb-1" style="width:60px;height:60px;" />
        <figcaption class="text-white small text-center stretched-link" style="text-shadow: 0px 0px 3px #000, 0px 1px 3px #000, 0px 1px 5px #222;"
                    onmouseover="drawerEvents.mouseOverIcon(this)" onmouseout="drawerEvents.mouseOutIcon(this)" onmousedown="drawerEvents.mouseDownIcon(this)" onmouseup="drawerEvents.mouseUpIcon(this)">
            <span class="d-block text-truncate p-1" style="width:76px;">@(string.IsNullOrWhiteSpace(UserProgramMap.Rename)? UserProgramMap.Program.Name: UserProgramMap.Rename)</span>
        </figcaption>
    </figure>
</div>

@code {
    [Parameter]
    public EventCallback<ProgramIconEventArgs> OnIconSelect { get; set; }

    [Parameter]
    public UserProgramMap UserProgramMap { get; set; }
}