<div class="dropdown-menu dropdown-menu-sm position-fixed @(this.Visible?"d-block":"d-none")"
     style="pointer-events:auto; @(this.Visible?$"left:{this.PositionX}px; top:{this.PositionY}px;":string.Empty)"
     tabindex=@(this.Visible?-1:0) @ref=@this.ContextMenuElement
     @onblur=@this.Hide @onclick=@this.Hide @ontouchend=@this.Hide>
    <a role="button" class="dropdown-item"
       @onclick=@(async e=>{if(this.OnRunProgram.HasDelegate){await this.OnRunProgram.InvokeAsync(this.UserProgramMap);}})>
        <span class="fas fa-rocket pr-3"></span>Run
    </a>
    <div class="dropdown-divider"></div>
    <a role="button" class="dropdown-item"
       @onclick=@(async e=>{if(this.OnTogglePinToDock.HasDelegate){await this.OnTogglePinToDock.InvokeAsync(this.UserProgramMap);}})>
        <span class="fas fa-plane-@(this.UserProgramMap.PinToDock?"departure":"arrival") pr-3"></span>
        @(this.UserProgramMap.PinToDock?"Unpin":"Pin") to Dock
    </a>
</div>

@code {
    [Parameter]
    public EventCallback<UserProgramMap> OnRunProgram { get; set; }

    [Parameter]
    public EventCallback<UserProgramMap> OnTogglePinToDock { get; set; }

    protected ElementReference ContextMenuElement { get; set; }
    protected bool Visible { get; set; }
    protected int PositionX { get; set; }
    protected int PositionY { get; set; }
    protected UserProgramMap UserProgramMap { get; set; } = new(default);

    public async Task Show(UserProgramMap programMap, Point point)
    {
        this.UserProgramMap = programMap;
        this.PositionX = point.X;
        this.PositionY = point.Y;
        this.Visible = true;
        this.StateHasChanged();
    }

    public async Task Hide()
    {
        this.Visible = false;
        this.StateHasChanged();
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (this.Visible)
        {
            await this.ContextMenuElement.FocusAsync();
        }
    }
}