@inject ILogger<ProgramDrawerComponent> logger
@inject IIntermediaryRequestSender intermediaryRequestSender

<div class="d-flex flex-column flex-wrap align-content-start user-select-none w-100 h-100 overflow-hidden">
    @foreach (var programMap in this.UserProgramMaps.Values.OrderByDescending(map => map.PinToTop))
    {
        var programDrawerKey = $"programDrawerKey_{programMap.Program.Id}";
        <ProgramDrawerIconComponent @key="@programDrawerKey" UserProgramMap="programMap" OnIconSelect="this.OnIconSelect" />
    }
</div>

@code {
    protected Dictionary<string, UserProgramMap> UserProgramMaps { get; init; } = new();
}
