@inject IJSRuntime jsRuntime

<ul class="navbar-nav text-nowrap">
    <li class="nav-item active">
        <a role="button" class="nav-link">Home</a>
    </li>
    <li class="nav-item dropdown">
        <a role="button" class="nav-link dropdown-toggle" data-toggle="dropdown" data-submenu>File</a>
        <div class="dropdown-menu">
            <a role="button" class="dropdown-item">New File</a>
            <a role="button" class="dropdown-item">Open File</a>
            <a role="button" class="dropdown-item">Save File</a>
            <div class="dropdown-divider"></div>
            <div class="dropdown dropright dropdown-submenu">
                <a role="button" class="dropdown-item dropdown-toggle">Recent Files</a>
                <div class="dropdown-menu">
                    <div class="dropdown-item">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="RecentFilesGroup" checked id="recentFile1Radio">
                            <label class="custom-control-label" for="recentFile1Radio">RecentFile_1</label>
                        </div>
                    </div>
                    <div class="dropdown-item">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="RecentFilesGroup" checked id="recentFile2Radio">
                            <label class="custom-control-label" for="recentFile2Radio">RecentFile_2</label>
                        </div>
                    </div>
                    <div class="dropdown-item">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="RecentFilesGroup" id="recentFile3Radio">
                            <label class="custom-control-label" for="recentFile3Radio">RecentFile_3</label>
                        </div>
                    </div>
                    <div class="dropdown-item">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="RecentFilesGroup" id="recentFile4Radio">
                            <label class="custom-control-label" for="recentFile4Radio">RecentFile_4</label>
                        </div>
                    </div>
                    <div class="dropdown-item">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="RecentFilesGroup" disabled id="recentFile5Radio">
                            <label class="custom-control-label" for="recentFile5Radio">RecentFile_5</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dropdown-divider"></div>
            <a role="button" class="dropdown-item">Close File</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a role="button" class="nav-link dropdown-toggle" data-toggle="dropdown" data-submenu>Edit</a>
        <div class="dropdown-menu">
            <a role="button" class="dropdown-item">Cut</a>
            <a role="button" class="dropdown-item">Copy</a>
            <a role="button" class="dropdown-item">Paste</a>
            <a role="button" class="dropdown-item">Delte</a>
            <div class="dropdown-divider"></div>
            <div class="dropdown dropright dropdown-submenu">
                <a role="button" class="dropdown-item dropdown-toggle">Select</a>
                <div class="dropdown-menu">
                    <a role="button" class="dropdown-item">Select All</a>
                    <a role="button" class="dropdown-item">Select None</a>
                    <a role="button" class="dropdown-item">Select Invert</a>
                </div>
            </div>
            <div class="dropdown-divider"></div>
            <a role="button" class="dropdown-item">Find</a>
            <a role="button" class="dropdown-item">Replace</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a role="button" class="nav-link dropdown-toggle" data-toggle="dropdown" data-submenu>View</a>
        <div class="dropdown-menu">
            <div class="dropdown-item">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" checked id="topBarCheck">
                    <label class="custom-control-label" for="topBarCheck">Top Bar</label>
                </div>
            </div>
            <div class="dropdown-item">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="menuBarCheck">
                    <label class="custom-control-label" for="menuBarCheck">Menu Bar</label>
                </div>
            </div>
            <div class="dropdown-item">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="statusBarCheck">
                    <label class="custom-control-label" for="statusBarCheck">Status Bar</label>
                </div>
            </div>
            <div class="dropdown-divider"></div>
            <div class="dropdown-item">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" disabled checked id="programDockCheck">
                    <label class="custom-control-label" for="programDockCheck">Program Dock</label>
                </div>
            </div>
        </div>
    </li>
    <li class="nav-item d-none">
        <a role="button" class="nav-link">Hidden</a>
    </li>
    <li class="nav-item">
        <a role="button" class="nav-link disabled">Disabled</a>
    </li>
    <li class="nav-item active">
        <a role="button" class="nav-link text-warning" @onclick=" async()=> { if (this.OnTest.HasDelegate) await this.OnTest.InvokeAsync(); }">Test</a>
    </li>
    <li class="nav-item">
        <div class="custom-control custom-checkbox nav-link pl-4">
            <input type="checkbox" class="custom-control-input" id="desktopCheckBox_1">
            <label class="custom-control-label" for="desktopCheckBox_1">CheckBox-1</label>
        </div>
    </li>
    <li class="nav-item">
        <div class="custom-control custom-radio nav-link pl-4">
            <input type="radio" class="custom-control-input" name="DesktopRadioGroup" id="desktopRadio_1">
            <label class="custom-control-label" for="desktopRadio_1">Radio-1</label>
        </div>
    </li>
</ul>

@code{
    [Parameter]
    public EventCallback<EventArgs> OnTest { get; set; }
}