<UserStatusComponent></UserStatusComponent>
<span class="border-left mx-1"></span>
<p class="mb-0 fas fa-wifi" data-container="body" data-toggle="tooltip" data-placement="bottom" title="Wifi: Open"></p>
<p class="mb-0 fas fa-battery-full" data-container="body" data-toggle="tooltip" data-placement="bottom" title="Battery: 100%"></p>
<p class="mb-0 fas fa-charging-station" data-container="body" data-toggle="tooltip" data-placement="bottom" title="Charge: 100%"></p>
<p class="mb-0 fas fa-bell" data-container="body" data-toggle="tooltip" data-placement="bottom" title="Bell: Open"></p>
<p class="mb-0 fas fa-volume-up" data-container="body" data-toggle="tooltip" data-placement="bottom" title="Volume: Open"></p>
<p class="mb-0 fas fa-adjust" data-container="body" data-toggle="tooltip" data-placement="bottom" title="Theme: Auto"></p>
<p class="mb-0 fab fa-usb" data-container="body" data-toggle="tooltip" data-placement="bottom" title="USB: Connected"></p>
<p class="mb-0 fas fa-broadcast-tower" data-container="body" data-toggle="tooltip" data-placement="bottom" title="Broadcast: Open"></p>
<p class="mb-0 fas fa-camera" data-container="body" data-toggle="tooltip" data-placement="bottom" title="Screenshot"></p>
<p class="mb-0 fas fa-cloud-sun-rain" data-container="body" data-toggle="tooltip" data-placement="bottom" title="Weather"></p>