@inject IJSRuntime jsRuntime

<div class="rounded-pill bg-light text-dark d-flex border px-2">
    <div class="text-nowrap align-self-center">
        <UserStatusComponent></UserStatusComponent>
        <span class="border-left mx-1"></span>
        <p class="mb-0 fas fa-wifi" data-container="body" data-toggle="tooltip" data-placement="bottom" title="Wifi: 开启"></p>
        <p class="mb-0 fas fa-battery-full" data-container="body" data-toggle="tooltip" data-placement="bottom" title="电量: 100%"></p>
        <p class="mb-0 fas fa-charging-station" data-container="body" data-toggle="tooltip" data-placement="bottom" title="电量: 100%"></p>
        <p class="mb-0 fas fa-bell" data-container="body" data-toggle="tooltip" data-placement="bottom" title="声音: 开启"></p>
        <p class="mb-0 fas fa-volume-up" data-container="body" data-toggle="tooltip" data-placement="bottom" title="声音: 开启"></p>
        <p class="mb-0 fas fa-adjust" data-container="body" data-toggle="tooltip" data-placement="bottom" title="主题: 自动"></p>
        <p class="mb-0 fab fa-usb" data-container="body" data-toggle="tooltip" data-placement="bottom" title="USB: 已连接"></p>
        <p class="mb-0 fas fa-broadcast-tower" data-container="body" data-toggle="tooltip" data-placement="bottom" title="热点: 开启"></p>
        <p class="mb-0 fas fa-camera" data-container="body" data-toggle="tooltip" data-placement="bottom" title="屏幕截图"></p>
        <p class="mb-0 fas fa-cloud-sun-rain" data-container="body" data-toggle="tooltip" data-placement="bottom" title="实时天气"></p>
        <span class="border-left mx-1"></span>
        <p class="mb-0 fas fa-lock" data-container="body" data-toggle="tooltip" data-placement="bottom" title="锁定系统"></p>
        <p class="mb-0 fas fa-cog" data-container="body" data-toggle="tooltip" data-placement="bottom" title="系统设置"></p>
        <p class="mb-0 fas fa-calendar-alt text-nowrap" data-container="body" data-toggle="tooltip" data-placement="bottom" title="日期： @DateTime.Now.ToString()"> @DateTime.Now.ToString("HH:mm")</p>
        <span class="border-left mx-1"></span>
        <p class="mb-0 fas fa-power-off text-danger" data-container="body" data-toggle="tooltip" data-placement="bottom" title="退出系统"></p>
    </div>
</div>
