@inject IJSRuntime jsRuntime

<div class="rounded-pill bg-light text-dark d-flex border px-2">
    <div class="text-nowrap align-self-center">
        @DesktopTopBarView?.ProgramStatusView
        <span class="border-left mx-1"></span>
        <p class="mb-0 fas fa-lock" data-container="body" data-toggle="tooltip" data-placement="bottom" title="锁定系统"></p>
        <p class="mb-0 fas fa-cog" data-container="body" data-toggle="tooltip" data-placement="bottom" title="系统设置"></p>
        <p class="mb-0 fas fa-calendar-alt text-nowrap" data-container="body" data-toggle="tooltip" data-placement="bottom" title="日期： @DateTime.Now.ToString()"> @DateTime.Now.ToString("HH:mm")</p>
        <span class="border-left mx-1"></span>
        <p class="mb-0 fas fa-power-off text-danger" data-container="body" data-toggle="tooltip" data-placement="bottom" title="退出系统"></p>
    </div>
</div>

@code{
    [CascadingParameter(Name = "DesktopTopBarView")]
    protected TopBarView DesktopTopBarView { get; set; }
}