@page "/Register"

@inject ILogger<RegisterComponent> logger
@inject IAuthenticationService authenticationService
@inject NavigationManager navigationManager

<div class="row container-fluid m-0 p-0 position-fixed img-fluid" style="width: 100%; height: 100%; background-image: url(images/Wallpapers/RegisterBackground.jpg); background-size: cover; background-position-x: center;">
    <div class="card col-10 col-md-6 flex-column mx-auto my-auto shadow-lg" style="filter:1rem;">
        <div class="card-body">
            <h4 class="card-title">Register</h4>

            @if (ShowErrors)
            {
                @* Do not close alert by method of Bootstrap, cause this will destroy element and make Blazor works incorrectly. *@
                <div class="alert alert-warning fade show" role="alert">
                    <strong>Register failed!</strong>
                    <button type="button" class="close" aria-label="Close" @onclick="OnCloseAlert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    @foreach (var error in this.Errors)
                    {
                        @error
                    }
                </div>
            }

            <EditForm Model="registerRequest" autofocus OnValidSubmit="OnRegister">
                <DataAnnotationsValidator />
                <div class="form-group">
                    <label for="username">User Name</label>
                    <InputText Id="userName" autofocus Class="form-control" @bind-Value="registerRequest.UserName" />
                    <small><ValidationMessage class="valid-feedback" For="@(() => registerRequest.UserName)" /></small>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <InputText Id="email" Class="form-control" @bind-Value="registerRequest.Email" />
                    <small><ValidationMessage class="valid-feedback" For="@(() => registerRequest.Email)" /></small>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <InputText Id="password" type="password" Class="form-control" @bind-Value="registerRequest.Password" />
                    <small><ValidationMessage class="valid-feedback" For="@(() => registerRequest.Password)" /></small>
                </div>
                <div class="form-group">
                    <label for="confirmpassword">Confirm Password</label>
                    <InputText Id="confirmpassword" type="password" Class="form-control" @bind-Value="registerRequest.ConfirmPassword" />
                    <small><ValidationMessage class="valid-feedback" For="@(() => registerRequest.ConfirmPassword)" /></small>
                </div>
                <div class="form-row">
                    <div class="col-12 col-md-6 text-right text-md-left">
                        <a class="btn btn-link" href="/Login">Back to Login</a>
                    </div>
                    <div class="col-12 col-md-6">
                        <button type="submit" class="btn btn-block btn-primary">Register</button>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    private bool ShowErrors { get; set; }
    private IEnumerable<string> Errors;
    private readonly RegisterRequest registerRequest = new RegisterRequest();

    public void OnCloseAlert() => this.ShowErrors = false;
}
