@* MAGIC! DO NOT TOUCH! @key instruction is necessary. *@
<div id="@this.ToastDetail.Id" class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="pointer-events:auto;backdrop-filter: blur(4px);">
    <div class="toast-header justify-content-between">
        <div class="col-auto p-0">
            @switch (this.ToastDetail.Icon)
            {
                case ToastIcons.Information:
                    <span class="fas fa-info-circle text-success" style="font-size:20px;"></span>
                    break;
                case ToastIcons.Question:
                    <span class="fas fa-question-circle text-primary" style="font-size:20px;"></span>
                    break;
                case ToastIcons.Warning:
                    <span class="fas fa-exclamation-circle text-warning" style="font-size:20px;"></span>
                    break;
                case ToastIcons.Error:
                    <span class="fas fa-times-circle text-danger" style="font-size:20px;"></span>
                    break;
                default:
                case ToastIcons.HackSystem:
                    <img src="/LogoImageSmall.png" class="rounded" style="width:20px; height:20px;" />
                    break;
            }
        </div>
        <strong class="col mr-auto text-truncate">@this.ToastDetail.Title</strong>
        <small class="col-auto text-muted">@this.ToastDetail.CreateTime.ToLongTimeString()</small>
        <button type="button" class="col-auto close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        @this.ToastDetail.Message
    </div>
</div>

@code {
    [Parameter]
    public ToastDetail ToastDetail { get; init; }

    [CascadingParameter]
    public IJSObjectReference ToastModuleReference { get; init; }

    [CascadingParameter]
    public DotNetObjectReference<ToastContainerComponent> ToastContainerReference { get; init; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        /* MAGIC! DO NOT TOUCH! Initial toast detail component after first rendered. */
        await this.ToastModuleReference.InvokeVoidAsync("toasts.popToast", this.ToastContainerReference, this.ToastDetail.Id, this.ToastDetail.AutoHide, this.ToastDetail.HideDelay);
    }
}