@page "/HackSystemMessage"
@page "/HackSystemMessage/{Message}"

<div class="position-fixed gradual-background" style="overflow:hidden;width:100%;height:100%">
    <div class="text-center" style="position:absolute; transform: translate(-50%,-50%); left: 50%; top: 50%;">
        <img src="LogoImage.png" class="img-fluid" />
        <h3 class="text-white">@message</h3>
        @ChildContent
    </div>
</div>

@code{
    private string message = "Hack System Message";

    [Parameter]
    public string Message { get => message; set => message = value; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}