@inject IJSRuntime jsRuntime

<span @onmousedown=@this.OnMouseDown
      @ontouchstart=@this.OnTouchStart
      @onmouseup=@this.OnMouseUp
      @ontouchend=@this.OnTouchEnd
      @ondblclick=@this.OnDbClick
      style="@($"cursor:{this.Cursor??"move"};")">
    @this.ChildContent
</span>

@code {
    [Parameter]
    public EventCallback<Point> OnDoubleClick { get; init; }

    [Parameter]
    public EventCallback<Point> OnDragStart { get; init; }

    [Parameter]
    public EventCallback<Point> OnDragEnd { get; init; }

    [Parameter]
    public bool Enabled { get; set; } = true;

    [Parameter]
    public DotNetObjectReference<IDraggableComponent> DraggableReference { get; init; }

    [Parameter]
    public RenderFragment ChildContent { get; init; }

    [Parameter]
    public string? Cursor { get; set; }

    [Parameter]
    public string DragTargetId { get; set; }

    private IJSObjectReference draggableModuleReference;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        this.draggableModuleReference = await jsRuntime
            .InvokeAsync<IJSObjectReference>("import", "./_content/HackSystem.Web.ProgramPlatform/blazor.draggable.js");
    }

    private async Task OnMouseDown(MouseEventArgs args)
    {
        if (!this.Enabled) return;
        if (args.Button != 0) return;
        if (this.OnDragStart.HasDelegate)
            await this.OnDragStart.InvokeAsync(new Point((int)args.ClientX, (int)args.ClientY));

        await this.draggableModuleReference.InvokeVoidAsync(
            "dragStart",
            this.DraggableReference,
            true, args.ClientX, args.ClientY,
            this.DragTargetId);
    }

    private async Task OnTouchStart(TouchEventArgs args)
    {
        if (!this.Enabled) return;
        if (this.OnDragStart.HasDelegate)
            if (args.Touches.Any())
                await this.OnDragStart.InvokeAsync(new Point((int)args.Touches.First().ClientX, (int)args.Touches.First().ClientY));
            else
                await this.OnDragStart.InvokeAsync();

        await this.draggableModuleReference.InvokeVoidAsync(
            "dragStart",
            this.DraggableReference,
            false, args.Touches[0].ClientX, args.Touches[0].ClientY,
            this.DragTargetId);
    }

    private async Task OnMouseUp(MouseEventArgs args)
    {
        if (!this.Enabled) return;
        if (args.Button != 0) return;
        if (this.OnDragEnd.HasDelegate)
            await this.OnDragEnd.InvokeAsync(new Point((int)args.ClientX, (int)args.ClientY));
    }

    private async Task OnTouchEnd(TouchEventArgs args)
    {
        if (!this.Enabled) return;
        if (this.OnDragEnd.HasDelegate)
            if (args.Touches.Any())
                await this.OnDragEnd.InvokeAsync(new Point((int)args.Touches.First().ClientX, (int)args.Touches.First().ClientY));
            else
                await this.OnDragEnd.InvokeAsync();
    }

    private async Task OnDbClick(MouseEventArgs args)
    {
        if (!this.Enabled) return;
        if (this.OnDoubleClick.HasDelegate)
            await this.OnDoubleClick.InvokeAsync(new Point((int)args.ClientX, (int)args.ClientY));
    }
}
