@inherits ProgramComponentBase

<div class="text-center p-5 bg-dark">
    <i class="fab fa-app-store fa-10x text-white my-3"></i>
    <p class="display-4 text-light">Welcome to <span class="text-warning">APP Store</span> !</p>
</div>

@code {
    public override void Dispose()
    {
    }

    public static Type Launch() => typeof(AppStoreComponent);
}
