@inject ILogger<ProgramContainerComponent> logger

<div class="position-fixed w-100 h-100 user-select-none overflow-hidden" style="pointer-events:none;">
    <!-- Resize 窗口 -->
    <div class="position-fixed user-select-none flex-nowrap text-nowrap"
         style="padding:8px; left:20rem;top:5rem;pointer-events:auto;">

        <div class="position-absolute" style="width:16px;height:16px;left:0px;top:0px;cursor:nw-resize" data-resizetarget=".position-fixed" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>
        <div class="position-absolute" style="height:8px;left:16px;top:0px;right:16px;cursor: n-resize" data-resizetarget=".position-fixed" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>
        <div class="position-absolute" style="width:16px;height:16px;right:0px;top:0px;cursor: ne-resize" data-resizetarget=".position-fixed" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>
        <div class="position-absolute" style="width:8px;left:0px;top:16px;bottom:16px;cursor:w-resize" data-resizetarget=".position-fixed" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>
        <div class="position-absolute" style="width:8px;top:16px;right:0px;bottom:16px;cursor:e-resize" data-resizetarget=".position-fixed" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>
        <div class="position-absolute" style="width:16px;height:16px;left:0px;bottom:0px;cursor:sw-resize" data-resizetarget=".position-fixed" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>
        <div class="position-absolute" style="height:8px;left:16px;right:16px;bottom:0px;cursor: s-resize" data-resizetarget=".position-fixed" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>
        <div class="position-absolute" style="width:16px;height:16px;right:0px;bottom:0px;cursor:se-resize" data-resizetarget=".position-fixed" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>

        <div class="modal-dialog m-0 flex-fill shadow" role="dialog" style="max-width:none;height:100%;">
            <div class="modal-content border-primary bg-transparent overflow-hidden" style="height: 100%;">
                <div class="modal-header" style="backdrop-filter:blur(20px);" onmousedown="dragEvents.mouseDragStart(event)" ontouchstart="dragEvents.touchDragStart(event)" data-dragtarget=".position-fixed">
                    <h5 class="modal-title" id="exampleModalLabel">标题</h5>
                    <button type="button" class="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-white">
                    <div class="d-inline-block">
                        <i class="fas fa-4x fa-info-circle text-primary m-2"></i>
                    </div>
                    <div class="d-inline-block">
                        模态窗口内容，点击背景自动关闭模态窗口。<br />
                        模态窗口内容，点击背景自动关闭模态窗口。<br />
                        模态窗口内容，点击背景自动关闭模态窗口。
                    </div>
                </div>
                <div class="modal-footer" style="backdrop-filter:blur(20px);">
                    <button type="button" class="btn btn-secondary">关闭</button>
                    <button type="button" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Resize 窗口 -->
    <div class="position-fixed user-select-none flex-nowrap text-nowrap"
         style="padding:8px; left:25rem;top:8rem;pointer-events:auto;">

        <div class="position-absolute" style="width:16px;height:16px;left:0px;top:0px;cursor:nw-resize" data-resizetarget=".position-fixed" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>
        <div class="position-absolute" style="height:8px;left:16px;top:0px;right:16px;cursor: n-resize" data-resizetarget=".position-fixed" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>
        <div class="position-absolute" style="width:16px;height:16px;right:0px;top:0px;cursor: ne-resize" data-resizetarget=".position-fixed" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>
        <div class="position-absolute" style="width:8px;left:0px;top:16px;bottom:16px;cursor:w-resize" data-resizetarget=".position-fixed" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>
        <div class="position-absolute" style="width:8px;top:16px;right:0px;bottom:16px;cursor:e-resize" data-resizetarget=".position-fixed" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>
        <div class="position-absolute" style="width:16px;height:16px;left:0px;bottom:0px;cursor:sw-resize" data-resizetarget=".position-fixed" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>
        <div class="position-absolute" style="height:8px;left:16px;right:16px;bottom:0px;cursor: s-resize" data-resizetarget=".position-fixed" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>
        <div class="position-absolute" style="width:16px;height:16px;right:0px;bottom:0px;cursor:se-resize" data-resizetarget=".position-fixed" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>

        <div class="modal-dialog m-0 flex-fill shadow" role="dialog" style="max-width:none;height:100%;">
            <div class="modal-content border-danger overflow-hidden" style="height: 100%;">
                <div class="modal-header" onmousedown="dragEvents.mouseDragStart(event)" ontouchstart="dragEvents.touchDragStart(event)" data-dragtarget=".position-fixed">
                    <h5 class="modal-title" id="exampleModalLabel">标题</h5>
                    <button type="button" class="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="d-inline-block">
                        <i class="fas fa-4x fa-info-circle text-primary m-2"></i>
                    </div>
                    <div class="d-inline-block">
                        模态窗口内容，点击背景自动关闭模态窗口。<br />
                        模态窗口内容，点击背景自动关闭模态窗口。<br />
                        模态窗口内容，点击背景自动关闭模态窗口。
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary">关闭</button>
                    <button type="button" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Resize 窗口 -->
    <div class="position-fixed user-select-none flex-nowrap text-nowrap"
         style="padding:8px; left:30rem;top:11rem;pointer-events:auto;">

        <div class="position-absolute" style="width:16px;height:16px;left:0px;top:0px;cursor:nw-resize" data-resizetarget=".position-fixed" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>
        <div class="position-absolute" style="height:8px;left:16px;top:0px;right:16px;cursor: n-resize" data-resizetarget=".position-fixed" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>
        <div class="position-absolute" style="width:16px;height:16px;right:0px;top:0px;cursor: ne-resize" data-resizetarget=".position-fixed" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>
        <div class="position-absolute" style="width:8px;left:0px;top:16px;bottom:16px;cursor:w-resize" data-resizetarget=".position-fixed" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>
        <div class="position-absolute" style="width:8px;top:16px;right:0px;bottom:16px;cursor:e-resize" data-resizetarget=".position-fixed" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>
        <div class="position-absolute" style="width:16px;height:16px;left:0px;bottom:0px;cursor:sw-resize" data-resizetarget=".position-fixed" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>
        <div class="position-absolute" style="height:8px;left:16px;right:16px;bottom:0px;cursor: s-resize" data-resizetarget=".position-fixed" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>
        <div class="position-absolute" style="width:16px;height:16px;right:0px;bottom:0px;cursor:se-resize" data-resizetarget=".position-fixed" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>

        <div class="modal-dialog m-0 flex-fill shadow" role="dialog" style="max-width:none;height:100%;text-shadow:0px 0px 3px #000, 0px 1px 5px #000">
            <div class="modal-content bg-transparent text-white overflow-hidden" style="height: 100%;backdrop-filter:blur(20px);">
                <div class="modal-header" onmousedown="dragEvents.mouseDragStart(event)" ontouchstart="dragEvents.touchDragStart(event)" data-dragtarget=".position-fixed">
                    <h5 class="modal-title" id="exampleModalLabel">标题</h5>
                    <button type="button" class="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="d-inline-block">
                        <i class="fas fa-4x fa-info-circle text-primary m-2"></i>
                    </div>
                    <div class="d-inline-block">
                        模态窗口内容，点击背景自动关闭模态窗口。<br />
                        模态窗口内容，点击背景自动关闭模态窗口。<br />
                        模态窗口内容，点击背景自动关闭模态窗口。
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary">关闭</button>
                    <button type="button" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Resize 窗口 -->
    <div class="position-fixed user-select-none flex-nowrap text-nowrap"
         style="padding:8px; left:35rem;top:14rem;pointer-events:auto;">

        <div class="position-absolute" style="width:16px;height:16px;left:0px;top:0px;cursor:nw-resize" data-resizetarget=".position-fixed" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>
        <div class="position-absolute" style="height:8px;left:16px;top:0px;right:16px;cursor: n-resize" data-resizetarget=".position-fixed" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>
        <div class="position-absolute" style="width:16px;height:16px;right:0px;top:0px;cursor: ne-resize" data-resizetarget=".position-fixed" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>
        <div class="position-absolute" style="width:8px;left:0px;top:16px;bottom:16px;cursor:w-resize" data-resizetarget=".position-fixed" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>
        <div class="position-absolute" style="width:8px;top:16px;right:0px;bottom:16px;cursor:e-resize" data-resizetarget=".position-fixed" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>
        <div class="position-absolute" style="width:16px;height:16px;left:0px;bottom:0px;cursor:sw-resize" data-resizetarget=".position-fixed" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>
        <div class="position-absolute" style="height:8px;left:16px;right:16px;bottom:0px;cursor: s-resize" data-resizetarget=".position-fixed" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>
        <div class="position-absolute" style="width:16px;height:16px;right:0px;bottom:0px;cursor:se-resize" data-resizetarget=".position-fixed" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>

        <div class="modal-dialog m-0 flex-fill shadow" role="dialog" style="max-width:none;height:100%;">
            <div class="modal-content border-warning bg-dark text-white overflow-hidden" style="height: 100%;">
                <div class="modal-header" onmousedown="dragEvents.mouseDragStart(event)" ontouchstart="dragEvents.touchDragStart(event)" data-dragtarget=".position-fixed">
                    <h5 class="modal-title" id="exampleModalLabel">标题</h5>
                    <button type="button" class="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="d-inline-block">
                        <i class="fas fa-4x fa-info-circle text-primary m-2"></i>
                    </div>
                    <div class="d-inline-block">
                        模态窗口内容，点击背景自动关闭模态窗口。<br />
                        模态窗口内容，点击背景自动关闭模态窗口。<br />
                        模态窗口内容，点击背景自动关闭模态窗口。
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary">关闭</button>
                    <button type="button" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Resize 窗口 -->
    <div class="position-fixed user-select-none flex-nowrap text-nowrap"
         style="padding:8px; left:40rem;top:17rem;pointer-events:auto;">

        <div class="position-absolute" style="width:16px;height:16px;left:0px;top:0px;cursor:nw-resize" data-resizetarget=".position-fixed" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>
        <div class="position-absolute" style="height:8px;left:16px;top:0px;right:16px;cursor: n-resize" data-resizetarget=".position-fixed" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>
        <div class="position-absolute" style="width:16px;height:16px;right:0px;top:0px;cursor: ne-resize" data-resizetarget=".position-fixed" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>
        <div class="position-absolute" style="width:8px;left:0px;top:16px;bottom:16px;cursor:w-resize" data-resizetarget=".position-fixed" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>
        <div class="position-absolute" style="width:8px;top:16px;right:0px;bottom:16px;cursor:e-resize" data-resizetarget=".position-fixed" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>
        <div class="position-absolute" style="width:16px;height:16px;left:0px;bottom:0px;cursor:sw-resize" data-resizetarget=".position-fixed" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>
        <div class="position-absolute" style="height:8px;left:16px;right:16px;bottom:0px;cursor: s-resize" data-resizetarget=".position-fixed" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>
        <div class="position-absolute" style="width:16px;height:16px;right:0px;bottom:0px;cursor:se-resize" data-resizetarget=".position-fixed" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>

        <div class="modal-dialog m-0 flex-fill shadow" role="dialog" style="max-width:none;height:100%;">
            <div class="modal-content border-danger bg-dark text-white overflow-hidden" style="height: 100%;">
                <div class="modal-header" onmousedown="dragEvents.mouseDragStart(event)" ontouchstart="dragEvents.touchDragStart(event)" data-dragtarget=".position-fixed">
                    <h5 class="modal-title" id="exampleModalLabel">标题</h5>
                    <button type="button" class="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="d-inline-block">
                        <i class="fas fa-4x fa-info-circle text-primary m-2"></i>
                    </div>
                    <div class="d-inline-block">
                        模态窗口内容，点击背景自动关闭模态窗口。<br />
                        模态窗口内容，点击背景自动关闭模态窗口。<br />
                        模态窗口内容，点击背景自动关闭模态窗口。
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary">关闭</button>
                    <button type="button" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>

    @this.renderFragment
</div>