@inject ILogger<ProgramContainerComponent> logger
@inject IProcessContainer processContainer
@inject ISubscriber<ProgramLaunchMessage> programLaunchSubcriber
@inject ISubscriber<ProcessCloseMessage> processCloseSubscriber
@inject IProcessDisposer processDisposer
@inject IProgramScheduler programScheduler

<div id="ProgramContainerInstance" class="position-fixed w-100 h-100 user-select-none overflow-hidden" style="pointer-events:none;">
    @foreach (var process in this.processContainer.GetProcesses())
    {
        <!-- Fixed a big issue here. More details please navigate to https://github.com/dotnet/aspnetcore/issues/29176 -->
        var key = $"Process_{process.PID}";
        <DynamicComponent @key="key"
                          Type="process.ProgramEntity.ProgramComponentType"
                          @ref="process.DynamicProgramComponent"
                          Parameters="new Dictionary<string, object>
                                      {
                                          { nameof(ProgramComponentBase.PID), process.PID },
                                          { nameof(ProgramComponentBase.ProgramEntity), process.ProgramEntity },
                                      }">
        </DynamicComponent>
    }
</div>