@inject ILogger<ProgramContainerComponent> logger
@inject IProcessContainer processContainer

<div id="ProgramContainerInstance" class="position-fixed w-100 h-100 user-select-none overflow-hidden" style="pointer-events:none;">
    @foreach (var process in this.processContainer.GetProcesses())
    {
        <!-- Fixed a big issue here. More details please navigate to https://github.com/dotnet/aspnetcore/issues/29176 -->
        @foreach (var window in process.ProgramWindowDetails.Values)
        {
            var windowKey = $"process_{process.ProcessId}_window_{window.WindowId}";
            <DynamicComponent @key="windowKey"
                      Type="window.ProgramWindowType"
                      Parameters="new Dictionary<string, object>
                        {
                            { nameof(ProgramComponentBase.ProcessDetail), process },
                            { nameof(ProgramComponentBase.ProgramWindowDetail), window }
                        }">
            </DynamicComponent>
        }
    }
</div>