@inject ILogger<ProgramContainerComponent> logger
@inject IProcessContainer processContainer

<div class="user-select-none overflow-hidden w-100 h-100" style="pointer-events:none;">
    @foreach (var process in this.processContainer.GetProcesses())
    {
        <!-- Fixed a big issue here. More details please navigate to https://github.com/dotnet/aspnetcore/issues/29176 -->
        @foreach (var window in process.GetWindowDetails())
        {
            var windowKey = $"process_{process.ProcessId}_window_{window.WindowId}";
            <DynamicProgramWindow @key="windowKey" ProcessDetail=process ProgramWindowDetail=window></DynamicProgramWindow>
        }
    }
</div>