<div class="position-fixed w-100 h-100 user-select-none" style="overflow:hidden;pointer-events:none;">
    <div class="modal-dialog position-fixed m-0 w-100 shadow rounded border border-primary" role="dialog" style="left:3rem;top:3rem;">
        <div class="modal-content bg-transparent">
            <div class="modal-header" style="backdrop-filter:blur(20px);" onmousedown="dragEvents.mouseDragStart(event)" ontouchstart="dragEvents.touchDragStart(event)" data-dragtarget=".modal-dialog">
                <h5 class="modal-title text-white" id="exampleModalLabel">标题</h5>
                <button type="button" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-white">
                <div class="row">
                    <div class="col-auto">
                        <i class="fas fa-4x fa-info-circle text-primary m-2"></i>
                    </div>
                    <div class="col">
                        程序内容。<br />
                        程序内容。<br />
                        程序内容。
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="backdrop-filter:blur(20px);">
                <button type="button" class="btn btn-secondary">关闭</button>
                <button type="button" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
    <div class="modal-dialog position-fixed m-0 w-100 shadow" role="dialog" style="left:20rem;top:15rem;">
        <div class="modal-content">
            <div class="modal-header" onmousedown="dragEvents.mouseDragStart(event)" ontouchstart="dragEvents.touchDragStart(event)" data-dragtarget=".modal-dialog">
                <h5 class="modal-title" id="exampleModalLabel">标题</h5>
                <button type="button" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-auto">
                        <i class="fas fa-4x fa-info-circle text-primary m-2"></i>
                    </div>
                    <div class="col">
                        程序内容。<br />
                        程序内容。<br />
                        程序内容。
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary">关闭</button>
                <button type="button" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
    <div class="modal-dialog position-fixed m-0 w-100 shadow rounded border border-danger" role="dialog" style="left:40rem;top:30rem;">
        <div class="modal-content text-white bg-transparent" style="backdrop-filter:blur(20px);">
            <div class="modal-header" onmousedown="dragEvents.mouseDragStart(event)" ontouchstart="dragEvents.touchDragStart(event)" data-dragtarget=".modal-dialog">
                <h5 class="modal-title" id="exampleModalLabel">标题</h5>
                <button type="button" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-auto">
                        <i class="fas fa-4x fa-info-circle text-primary m-2"></i>
                    </div>
                    <div class="col">
                        程序内容。<br />
                        程序内容。<br />
                        程序内容。
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary">关闭</button>
                <button type="button" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>

    @this.renderFragment
</div>