<div class="rounded-lg @(showBorderFlag?"border border-white":"border-0") text-nowrap border-white position-fixed" @onmouseover="e=>this.showBorderFlag=true" @onmouseout="e=>this.showBorderFlag=false" style="top:4rem; left:40rem; backdrop-filter:blur(10px);">
    <p class="fas @(showMoveFlag?"fa-arrows-alt":string.Empty) p-2 mb-0 text-light position-fixed float-left" @onmouseover="e=>this.showMoveFlag=true" @onmouseout="e=>this.showMoveFlag=false" onmousedown="dragEvents.mouseDragStart(event)" ontouchstart="dragEvents.touchDragStart(event)" data-dragtarget=".position-fixed" style="pointer-events: auto; cursor: move;"></p>
    <p class="display-1 text-white p-3 mb-0 user-select-none">信息面板</p>
</div>

@code{
    bool showMoveFlag = false;
    bool showBorderFlag = false;
}