<div class="rounded-lg @(showBorderFlag?"border border-white":"border-0") text-nowrap text-white position-fixed" style="top:4rem; left:40rem; backdrop-filter:blur(10px);">
    <div class="position-fixed float-left p-1" style="pointer-events: auto;" @onmouseover="e=>this.showBorderFlag=true" @onmouseout="e=>this.showBorderFlag=false">
        <DraggableHandle DragTarget=".border" Cursor="move">
            <span class="fas fa-arrows-alt p-1 mb-0"></span>
        </DraggableHandle>
        <p class="fas fa-circle-notch @(showRefreshingFlag?"fa-spin":string.Empty) p-1 mb-0" @onclick="e=>showRefreshingFlag=!showRefreshingFlag" style="cursor: pointer;"></p>
    </div>
    <p class="display-1 p-3 mb-0 user-select-none">Info Panel</p>
</div>

@code{
    bool showBorderFlag = false;
    bool showRefreshingFlag = true;
}