<div class="rounded-lg border text-nowrap border-white position-fixed" style="top:4rem; left:40rem; backdrop-filter:blur(10px);">
    <p class="fas fa-arrows-alt p-2 mb-0 text-light position-fixed float-left" onmousedown="dragEvents.mouseDragStart(event)" ontouchstart="dragEvents.touchDragStart(event)" data-dragtarget=".position-fixed" style="pointer-events: auto; cursor: move;"></p>
    <p class="display-1 text-white p-3 mb-0 user-select-none">信息面板</p>
</div>