<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<variable name="logDirectory" value=".\logs"/>

	<targets>
		<target xsi:type="Console" name="Console" layout="${longdate}    ${level}    ${message}"/>
		<target xsi:type="File" keepFileOpen="true" name="SystemLog" fileName="${logDirectory}\System_Log_${shortdate}.log"
				layout="${longdate}    ${event-properties:item=EventId_Id}    ${uppercase:${level}}    ${logger}    ${message}    ${exception:format=tostring}" />
		<target xsi:type="File" keepFileOpen="true" name="HackSystemLog" fileName="${logDirectory}\HackSystem_Log_${shortdate}.log"
				layout="${longdate}    ${event-properties:item=EventId_Id}    ${uppercase:${level}}    ${logger}    ${message} ${exception:format=tostring}    url: ${aspnet-request-url}    action: ${aspnet-mvc-action}" />
		<target xsi:type="File" keepFileOpen="true" name="HackSystemDangerLog" fileName="${logDirectory}\HackSystem_DangerLog_${shortdate}.log"
				layout="${longdate}    ${event-properties:item=EventId_Id}    ${uppercase:${level}}    ${logger}    ${message} ${exception:format=tostring}    url: ${aspnet-request-url}    action: ${aspnet-mvc-action}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="SystemLog" />
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="*" minlevel="Information" writeTo="HackSystemLog, Console" />
		<logger name="*" minlevel="Warn" writeTo="HackSystemDangerLog" />
	</rules>
</nlog>