@using HackSystem.Web.TaskSchedule.Services
@using HackSystem.WebDataTransfer.TaskServer
@inherits ProgramComponentBase
@inject IServiceScopeFactory ServiceScopeFactory

<ResizeableView ResizeableOption="new ResizeableOption() { Left = 20, Top =10, Width=640, Height=540, Z_Index=this.ProgramEntity.Z_Index }">
    <div class="modal-dialog m-0 flex-fill shadow" role="dialog" style="max-width:none;height:100%;">
        <div class="modal-content border-primary overflow-hidden" style="height: 100%;">
            <DraggableHandle DragTarget=".position-fixed">
                <div class="modal-header bg-light py-2">
                    <h5 class="modal-title" id="exampleModalLabel">Task Scheduler</h5>
                    <button type="button" class="close" @onclick="this.OnClose">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </DraggableHandle>
            <div class="modal-body">
                <div class="d-flex h-100">
                    <AuthorizeView Roles="@CommonSense.Roles.CommanderRole">
                        <Authorized>
                            <div class="d-inline-block w-100 p-5 text-center">
                                <i class="fas fa-4x fa-user-astronaut text-primary my-3"></i>
                                <p class="h4 text-secondary">Welcome, Commander!</p>
                            </div>
                        </Authorized>
                        <NotAuthorized>
                            <div class="d-inline-block w-100 p-5 text-center">
                                <i class="fas fa-4x fa-user-astronaut text-primary my-3"></i>
                                <p class="h4 text-secondary">Please login as a Commander!</p>
                            </div>
                        </NotAuthorized>
                    </AuthorizeView>
                </div>
            </div>
        </div>
    </div>
</ResizeableView>

@code {
    public Dictionary<string, List<TaskDetailDTO>> TaskDetailGroups { get; set; }

    public override void Dispose()
    {
    }
}
