<nav class="navbar navbar-expand p-0 navbar-dark">
    <div class="navbar-brand p-0 ml-2">
        @* TODO: Leon: Display caption and icon of program activated *@
        <img class="img-fluid" src="/LogoImageSmall.png" />
        <span>Hack System</span>
    </div>

    @DesktopTopBarView?.ProgramMenuView
</nav>

@code{
    [CascadingParameter(Name = "DesktopTopBarView")]
    protected TopBarView DesktopTopBarView { get; set; }
}